.loading {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: grid;
  place-items: center;
  max-width: 100%;
}

.loading > div {
  width: 10vmax;
  height: 10vmax;
  border-bottom: 5px solid rgba(216, 101, 0, 0.955);

  border-radius: 50%;

  animation: loadingRotate 800ms linear infinite;
}

@keyframes loadingRotate {
  from {
    transform: rotateZ(0deg); /* Start from 0 degrees */
  }
  to {
    transform: rotateZ(360deg); /* Rotate 360 degrees in the opposite direction */
  }
}
